.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: white;
}

.navbar img.logo {
  height: 50px; /* adjust as needed */
  width: auto;
}

.navbar img.profile {
  height: 50px; /* adjust as needed */
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
